<center> <img src = "https://github.com/denis-marchenkov-sf/assets/blob/master/hh%20label.jpg" alt="drawing" style="width:400px;">

# <center> Проект: Анализ резюме из HeadHunter

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Исследование структуры данных

1. Чтение данных.

In [24]:
# url для скачивания исходного csv файла
# https://drive.google.com/file/d/1P4JtIu7Hemy0dJSQ--3aRNbZU8aCiWtO/view?usp=drive_link

# url или путь к csv файлу
data_path = 'hh_data.csv'

original_df = pd.read_csv(data_path, sep = ';')

# скопируем данные для последующих преобразований
df = original_df.copy()

2. Структура данных.

In [25]:
# общая структура данных таблицы
print("Общая структура данных:")
display(
    df.head(3)
)

print(f"Строк: {df.shape[0]}")
print(f"Столбцов: {df.shape[1]}")

Общая структура данных:

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано

Строк: 44744
Столбцов: 12

3. Основная информация о числе непустых значений в столбцах и их типах в таблице.

In [26]:
# общая информация о столбцах таблицы
print("Общая информация о столбцах:\n")
df.info()

Общая информация о столбцах:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

4. Информация о числе непустых значений.

In [27]:
cols_null = df.isnull()

# пропуски в процентном соотношении

print("Процент пропущеных значений в столбцах:")

cols_null_percent = cols_null.mean() * 100

cols_with_null = cols_null_percent[cols_null_percent > 0].sort_values(ascending=False)

display(cols_with_null)


# количество пропусков

print("Количество пропущеных значений в столбцах:\n")

for col in cols_null.columns.values:

    if col not in cols_with_null.index:
        continue

    print(f'{col}: {cols_null[col].value_counts()[True]}')

Процент пропущеных значений в столбцах:

Опыт работы                        0.375469
Последняя/нынешняя должность       0.004470
Последнее/нынешнее место работы    0.002235
dtype: float64

Количество пропущеных значений в столбцах:

Опыт работы: 168
Последнее/нынешнее место работы: 1
Последняя/нынешняя должность: 2

5. Основная статистическая информация о столбцах.

In [28]:
# общая статистика по таблице
print("Основная статистическая информация:")
display(
    df.describe(include = "all")
)

Основная статистическая информация:

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,40148,18838,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,18,4064,3099,1261,30026,22727,3,935,2062,4,25,32268

# Преобразование данных

1. Из признака **"Образование и ВУЗ"** в формате: **<Уровень образования год выпуска ВУЗ специальность...>** выделим признак **"Образование"**, имеющий четыре категории: "высшее", "неоконченное высшее", "среднее специальное" и "среднее".

In [29]:
# текущий уровень образования находится по первым двум словам значения в столбце "Образование и ВУЗ"
def parse_education(input, sep = ' '):

    if input is None or len(input) == 0:
        return np.nan

    arr = input.split(' ')
    stop = arr.index('образование')
    education = ' '.join(input.split(sep)[:stop])

    return education

# добавим категориальный признак "Образование"
df['Образование'] = df['Образование и ВУЗ'].apply(parse_education).astype('category')


# проверим уникальность категорий
print("Уникальные категории в столбце \"Образование\":\n")
print(
    ', '.join(list(df['Образование'].unique()))
)

# отобразим статистику по категориям образования
print("\n\nКоличество соискателей в зависимости от образования:")
display(
    df['Образование'].value_counts()
)

# удалим признак "Образование и ВУЗ"
df.drop('Образование и ВУЗ', axis = 1, inplace = True);

Уникальные категории в столбце "Образование":

Неоконченное высшее, Высшее, Среднее специальное, Среднее


Количество соискателей в зависимости от образования:

Образование
Высшее                 33863
Среднее специальное     5765
Неоконченное высшее     4557
Среднее                  559
Name: count, dtype: int64

2. Из признака **"Пол, возраст"** в формате **<Пол , возраст , дата рождения >** выделим два отдельных признака **"Пол"** и **"Возраст"**:

* Признак пола должен иметь 2 уникальных строковых значения: 'М' - мужчина, 'Ж' - женщина. 
* Признак возраста должен быть представлен целыми числами.

In [30]:
# разобьем значение из столбца "Пол, возраст" по разделителю ' , '
# преобразуем первый элемент результата к буквенному значению, второй - к числовому


# выделим пол из строки
def parse_gender(input, sep = ' , '):

    if input is None or len(input) == 0:
        return np.nan

    arr = input.split(sep)

    # пол - первый элемент массива
    # нас интересует только первая буква
    gender = arr[0][0].upper()

    return gender


# выделим возраст из строки
def parse_age(input, sep = ' , '):

    if input is None or len(input) == 0:
        return np.nan

    arr = input.split(sep)

    # возраст - второй элемент массива
    # нас интересует только число
    age = arr[1].strip(' ').split(' ')[0]

    return int(age)


# добавим новые признаки
df['Пол'] = df['Пол, возраст'].apply(parse_gender).astype("category")
df['Возраст'] = df['Пол, возраст'].apply(parse_age)


# процентное соотношение соискателей по половому признаку
print("Процентное соотношение соискателей по половому признаку:")
display(
    round(df['Пол'].value_counts(normalize=True) * 100, 2)
)


# средний возраст соискателей
print("Средний возраст соискателей:")
display(
    round(df['Возраст'].mean(), 1)
)

# удалим признак "Пол, возраст"
df.drop('Пол, возраст', axis = 1, inplace = True);

Процентное соотношение соискателей по половому признаку:

Пол
М    80.93
Ж    19.07
Name: proportion, dtype: float64

Средний возраст соискателей:

32.2

3. Из признака **"Опыт работы"** в формате: **<Опыт работы: n лет m месяцев, периоды работы в различных компаниях…>** выделим общий опыт работы соискателя в месяцах - "Опыт работы (месяц)"

Условия:
* В данном признаке есть пропуски NaN - оставляем их как есть.
* В данном признаке есть скрытые пропуски: для некоторых соискателей в столбце стоит значения "Не указано". Их тоже обозначим как NaN.
* Нас не интересует информация, которая описывается после указания опыта работы (периоды работы в различных компаниях)
* Необходимо учитывать, что в исходных данных опыт работы может быть представлен только в годах или только месяцах. Например, можно встретить следующие варианты:
    * Опыт работы 3 года 2 месяца…
    * Опыт работы 4 года…
    * Опыт работы 11 месяцев…

In [31]:
# разобьем строку по пробелам - первые шесть элементов содержат данные об опыте работы;
# если элемент массива содержит ключевое слово - следующий за ним элемент содержит необходимые данные
def parse_experience(input):

    nan_ = 'Не указано'
    year = ['год', 'лет']
    month = 'месяц'

    if input == nan_ or pd.isnull(input):
        return None

    arr = input.split(' ')[:6]

    months = 0
    for i, val in enumerate(arr):
        if month in val:
            months += int(arr[i-1])
            continue

        if year[0] in val or year[1] in val:
            months += int(arr[i-1]) * 12
            continue

    return months


# добавим новый признак
df['Опыт работы (месяц)'] = df["Опыт работы"].apply(parse_experience)


print("Медианный опыт работы в месяцах:")
display(
    df['Опыт работы (месяц)'].median()
)


# удалим признак "Опыт работы"
df.drop('Опыт работы', axis = 1, inplace = True);

Медианный опыт работы в месяцах:

100.0

4. Из признака "Город, переезд, командировки" в формате **<Город , (метро) , готовность к переезду (города для переезда) , готовность к командировкам>** (в скобках указаны необязательные параметры строки) выделим признаки: **"Город"**, **"Готовность к переезду"**, **"Готовность к командировкам"**

Условия:
* Признак **"Город"** должен содержать 4 категории: "Москва", "Санкт-Петербург" и "город-миллионник", остальные обозначаются как "другие".
* Признаки **"Готовность к переезду"** и **"Готовность к командировкам"** должны иметь два возможных варианта: True или False

In [32]:
# разобьем строку по разделителю ' , ' и выделим необходимые признаки

# выделим город из первого элемента массива
def parse_city(input, sep = ' , '):

    # заведем константу, чтобы остальным городам не было так обидно
    other_awesome_cities = 'другое'

    million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород',
    'Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону',
    'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']

    main_cities = ['Москва', 'Санкт-Петербург']

    if input is None or len(input) == 0:
        return np.nan

    arr = input.split(sep)

    city = arr[0]

    if city in million_cities:
        return 'город-миллионник'
    if city in main_cities:
        return city

    return other_awesome_cities


# выделим готовность к переезду/коммандировке из строки
def parse_relocation(input, unready_mark, relocation_mark):

    if input is None or len(input) == 0:
        return np.nan

    if len(unready_mark) == 0:
        raise ValueError('unready_mark')
    if len(relocation_mark) == 0:
        raise ValueError('relocation_mark')

    if relocation_mark in input and unready_mark not in input:
        return True

    return False


# добавим новые атрибуты
df['Город'] = df['Город, переезд, командировки'].apply(parse_city)
df['Готовность к переезду'] = df['Город, переезд, командировки'].apply(parse_relocation, args = ('не готов', 'перее'))
df['Готовность к командировкам'] = df['Город, переезд, командировки'].apply(parse_relocation, args = ('не готов', 'командировк'))


# сколько процентов соискателей живут в Санкт-Петербурге
print(
    'Процент соискателей из Санкт-Петербурга:\n',
    round(df[(df['Город']=='Санкт-Петербург')].shape[0] / df.shape[0] * 100)
)


# Сколько процентов соискателей готовы одновременно и к переездам, и к командировкам?
readiness_mask = (df['Готовность к переезду'] == True) & \
                 (df['Готовность к командировкам'] == True)
print(
    'Процент соискателей, готовых к переездам и коммандировкам:\n',
    round(df[readiness_mask].shape[0] / df.shape[0] * 100)
)


# удалим признак "Город, переезд, командировки"
df.drop('Город, переезд, командировки', axis = 1, inplace = True);

Процент соискателей из Санкт-Петербурга:
 11
Процент соискателей, готовых к переездам и коммандировкам:
 32

5. Рассмотрим поближе признаки **"Занятость"** и **"График"**. Сейчас признаки представляют собой набор категорий желаемой занятости (полная занятость, частичная занятость, проектная работа, волонтерство, стажировка) и желаемого графика работы (полный день, сменный график, гибкий график, удаленная работа, вахтовый метод).
На сайте hh.ru соискатель может указывать различные комбинации данных категорий, например:
* полная занятость, частичная занятость
* частичная занятость, проектная работа, волонтерство
* полный день, удаленная работа
* вахтовый метод, гибкий график, удаленная работа, полная занятость

Такой вариант признаков имеет множество различных комбинаций, а значит множество уникальных значений, что мешает анализу. Нужно это исправить!

Давайте создадим признаки-мигалки для каждой категории: если категория присутствует в списке желаемых соискателем, то в столбце на месте строки рассматриваемого соискателя ставится True, иначе - False.

Такой метод преобразования категориальных признаков называется One Hot Encoding и его схема представлена на рисунке ниже:
<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/ohe.jpg>
Выполните данное преобразование для признаков "Занятость" и "График", ответьте на контрольные вопросы, после чего удалите их из таблицы

In [33]:
#ваш код здесь

6. (2 балла) Наконец, мы добрались до самого главного и самого важного - признака заработной платы **"ЗП"**. 
В чем наша беда? В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он бы хотел ее получать, например:
* 30000 руб.
* 50000 грн.
* 550 USD

Нам бы хотелось видеть заработную плату в единой валюте, например, в рублях. Возникает вопрос, а где взять курс валют по отношению к рублю?

На самом деле язык Python имеет в арсенале огромное количество возможностей получения данной информации, от обращения к API Центробанка, до использования специальных библиотек, например pycbrf. Однако, это не тема нашего проекта.

Поэтому мы пойдем в лоб: обратимся к специальным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MDF.RU, данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv файлов. Мы уже сделали выгрузку курсов валют, которые встречаются в наших данных за период с 29.12.2017 по 05.12.2019. Скачать ее вы можете **на платформе**

Создайте новый DataFrame из полученного файла. В полученной таблице нас будут интересовать столбцы:
* "currency" - наименование валюты в ISO кодировке,
* "date" - дата, 
* "proportion" - пропорция, 
* "close" - цена закрытия (последний зафиксированный курс валюты на указанный день).


Перед вами таблица соответствия наименований иностранных валют в наших данных и их общепринятых сокращений, которые представлены в нашем файле с курсами валют. Пропорция - это число, за сколько единиц валюты указан курс в таблице с курсами. Например, для казахстанского тенге курс на 20.08.2019 составляет 17.197 руб. за 100 тенге, тогда итоговый курс равен - 17.197 / 100 = 0.17197 руб за 1 тенге.
Воспользуйтесь этой информацией в ваших преобразованиях.

<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/table.jpg>


Осталось только понять, откуда брать дату, по которой определяется курс? А вот же она - в признаке **"Обновление резюме"**, в нем содержится дата и время, когда соискатель выложил текущий вариант своего резюме. Нас интересует только дата, по ней бы и будем сопоставлять курсы валют.

Теперь у нас есть вся необходимая информация для того, чтобы создать признак "ЗП (руб)" - заработная плата в рублях.

После ответа на контрольные вопросы удалите исходный столбец заработной платы "ЗП" и все промежуточные столбцы, если вы их создавали.

Итак, давайте обсудим возможный алгоритм преобразования: 
1. Перевести признак "Обновление резюме" из таблицы с резюме в формат datetime и достать из него дату. В тот же формат привести признак "date" из таблицы с валютами.
2. Выделить из столбца "ЗП" сумму желаемой заработной платы и наименование валюты, в которой она исчисляется. Наименование валюты перевести в стандарт ISO согласно с таблицей выше.
3. Присоединить к таблице с резюме таблицу с курсами по столбцам с датой и названием валюты (подумайте, какой тип объединения надо выбрать, чтобы в таблице с резюме сохранились данные о заработной плате, изначально представленной в рублях). Значение close для рубля заполнить единицей 1 (курс рубля самого к себе)
4. Умножить сумму желаемой заработной платы на присоединенный курс валюты (close) и разделить на пропорцию (обратите внимание на пропуски после объединения в этих столбцах), результат занести в новый столбец "ЗП (руб)".

In [34]:
#ваш код здесь

# Исследование зависимостей в данных

1. Постройте распределение признака **"Возраст"**. Опишите распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится возраст большинства соискателей? Есть ли аномалии для признака возраста, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [35]:
# ваш код здесь

ваши выводы по графику здесь

2. Постройте распределение признака **"Опыт работы (месяц)"**. Опишите данное распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится опыт работы большинства соискателей? Есть ли аномалии для признака опыта работы, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [36]:
# ваш код здесь

ваши выводы здесь

3. Постройте распределение признака **"ЗП (руб)"**. Опишите данное распределение, отвечая на следующие вопросы: каковы предельные значения признака, в каком примерном интервале находится заработная плата большинства соискателей? Есть ли аномалии для признака возраста? Обратите внимание на гигантские размеры желаемой заработной платы.
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [37]:
# ваш код здесь

ваши выводы здесь

4. Постройте диаграмму, которая показывает зависимость **медианной** желаемой заработной платы (**"ЗП (руб)"**) от уровня образования (**"Образование"**). Используйте для диаграммы данные о резюме, где желаемая заработная плата меньше 1 млн рублей.
*Сделайте выводы по представленной диаграмме: для каких уровней образования наблюдаются наибольшие и наименьшие уровни желаемой заработной платы? Как вы считаете, важен ли признак уровня образования при прогнозировании заработной платы?*

In [38]:
# ваш код здесь

ваши выводы здесь

5. Постройте диаграмму, которая показывает распределение желаемой заработной платы (**"ЗП (руб)"**) в зависимости от города (**"Город"**). Используйте для диаграммы данные о резюме, где желая заработная плата меньше 1 млн рублей.
*Сделайте выводы по полученной диаграмме: как соотносятся медианные уровни желаемой заработной платы и их размах в городах? Как вы считаете, важен ли признак города при прогнозировании заработной платы?*

In [39]:
# ваш код здесь

ваши выводы здесь

6. Постройте **многоуровневую столбчатую диаграмму**, которая показывает зависимость медианной заработной платы (**"ЗП (руб)"**) от признаков **"Готовность к переезду"** и **"Готовность к командировкам"**. Проанализируйте график, сравнив уровень заработной платы в категориях.

In [40]:
# ваш код здесь

In [41]:
ваши выводы здесь

SyntaxError: invalid syntax (1506124366.py, line 1)

7. Постройте сводную таблицу, иллюстрирующую зависимость **медианной** желаемой заработной платы от возраста (**"Возраст"**) и образования (**"Образование"**). На полученной сводной таблице постройте **тепловую карту**. Проанализируйте тепловую карту, сравнив показатели внутри групп.

In [ ]:
# ваш код здесь

ваши выводы здесь

8. Постройте **диаграмму рассеяния**, показывающую зависимость опыта работы (**"Опыт работы (месяц)"**) от возраста (**"Возраст"**). Опыт работы переведите из месяцев в года, чтобы признаки были в едином масштабе. Постройте на графике дополнительно прямую, проходящую через точки (0, 0) и (100, 100). Данная прямая соответствует значениям, когда опыт работы равен возрасту человека. Точки, лежащие на этой прямой и выше нее - аномалии в наших данных (опыт работы больше либо равен возрасту соискателя)

In [ ]:
# ваш код здесь

ваши выводы здесь

**Дополнительные баллы**

Для получения 2 дополнительных баллов по разведывательному анализу постройте еще два любых содержательных графика или диаграммы, которые помогут проиллюстрировать влияние признаков/взаимосвязь между признаками/распределения признаков. Приведите выводы по ним. Желательно, чтобы в анализе участвовали признаки, которые мы создавали ранее в разделе "Преобразование данных".

In [ ]:
# ваш код здесь

ваши выводы здесь

# Очистка данных

1. Начнем с дубликатов в наших данных. Найдите **полные дубликаты** в таблице с резюме и удалите их.

In [ ]:
# ваш код здесь

2. Займемся пропусками. Выведите информацию **о числе пропусков** в столбцах.

In [ ]:
# ваш код здесь

3. Итак, у нас есть пропуски в 3ех столбцах: **"Опыт работы (месяц)"**, **"Последнее/нынешнее место работы"**, **"Последняя/нынешняя должность"**. Поступим следующим образом: удалите строки, где есть пропуск в столбцах с местом работы и должностью. Пропуски в столбце с опытом работы заполните **медианным** значением.

In [ ]:
# ваш код здесь

4. Мы добрались до ликвидации выбросов. Сначала очистим данные вручную. Удалите резюме, в которых указана заработная плата либо выше 1 млн. рублей, либо ниже 1 тыс. рублей.

In [ ]:
# ваш код здесь

5. В процессе разведывательного анализа мы обнаружили резюме, в которых **опыт работы в годах превышал возраст соискателя**. Найдите такие резюме и удалите их из данных

In [ ]:
# ваш код здесь

6. В результате анализа мы обнаружили потенциальные выбросы в признаке **"Возраст"**. Это оказались резюме людей чересчур преклонного возраста для поиска работы. Попробуйте построить распределение признака в **логарифмическом масштабе**. Добавьте к графику линии, отображающие **среднее и границы интервала метода трех сигм**. Напомним, сделать это можно с помощью метода axvline. Например, для построение линии среднего будет иметь вид:

`histplot.axvline(log_age.mean(), color='k', lw=2)`

В какую сторону асимметрично логарифмическое распределение? Напишите об этом в комментарии к графику.
Найдите выбросы с помощью метода z-отклонения и удалите их из данных, используйте логарифмический масштаб. Давайте сделаем послабление на **1 сигму** (возьмите 4 сигмы) в **правую сторону**.

Выведите таблицу с полученными выбросами и оцените, с каким возрастом соискатели попадают под категорию выбросов?

In [ ]:
# ваш код здесь

ваш коммментарий здесь